@use "functions/color-contrast-variables" as *;
$white:     #fff !default;
$black:     #080a0c !default;
$min-contrast-ratio:   4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;
